<h1>Shopping Cart</h1>

<ul>
  <% @shoppings.each do |shopping| %>
    <li>
      <%= link_to shopping.itemName, shopping_path(shopping) %> 
    </li>
  <% end %>
  <%= link_to "Add new cart items", new_shopping_path %>
</ul>
